
@import url(http://fonts.googleapis.com/css?family=Muli);
@import url(https://fonts.googleapis.com/css?family=Vibur);


body{
	background-color: #fff;
	font-family: 'Muli', sans-serif;
  font-size: 16px;
    background-attachment: fixed;
  color: #3b3a36;
   padding-bottom: 100px;
       margin: 0 auto;
-moz-osx-font-smoothing: grayscale;
overflow-x: hidden;
}


.titlepage{
  position: absolute;
  top: 0px;
  left:0px;
  background: linear-gradient(-135deg, #FCDDDE 10px, transparent 0) 0 10px, 
  linear-gradient(135deg, #FCDDDE 10px, #ffffff 0) 0 10px;
    background-position: left bottom;
  background-repeat: repeat-x; 
background-color: #FCDDDE;
height: 90%;
min-height: 820px;
width:100%;
background-size: 20px 20px; 
margin-bottom: 20%; 
  text-align: center;
  border-top: 5px solid #3b3a36;
}

.footer{
  position: relative;
  padding-top: 50px;
  top: 100%;
  left:0px;
  font-size: 0.75em;
  background: linear-gradient(-135deg, #fff 10px, transparent 0) 0 10px, 
  linear-gradient(135deg, #fff 10px, #FCDDDE 0) 0 10px;
    background-position: left top;
  background-repeat: repeat-x; 
background-color: #FCDDDE;
height: 150px;
width:100%;
background-size: 20px 20px; 
  text-align: center;
}

.container{
  text-align: justify;
  padding: 100px 10px;
  }

.wrapper{
   position: relative;
  top:90%;
}

.grey{
  background: linear-gradient(-135deg, #eee 10px, transparent 0) 0 10px, 
  linear-gradient(135deg, #eee 10px, #ffffff 0) 0 10px;
    background-position: left bottom;
  background-repeat: repeat-x; 
background-color: #eee;
width:100%;
background-size: 20px 20px; 
}

.grey:before {
  content:'';
  position: absolute;
  left: 0px;
  background: linear-gradient(-135deg, #fff 10px, transparent 0) 0 10px, 
  linear-gradient(135deg, #fff 10px, #eee 0) 0 10px;
  background-position: left top;
  background-repeat: repeat-x; 
  background-color: #FCDDDE;
  height: 20px;
  width:100%;
  background-size: 20px 20px; 
}

.white{
  background-image: -webkit-repeating-radial-gradient(center center, #eee, #eee 5px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, #eee, #eee 5px, transparent 1px, transparent 100%);
  -webkit-background-size: 40px 40px;
  background-size: 40px 40px;
  width:100%;
/*  height:70%;*/
}

/********************************************************/
/*                   about                              */
/********************************************************/

.aboutcontainer{
  display:none;
/*   transition: all 1s ease-in;*/
}

.aboutinner{
    background: #eee;
    width: 100%;
    margin: 0 auto;
    border-radius: 5px;
    padding: 10px 15px;
    padding-left: 30px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.25);
    border-radius: 5px;
    border: 2px solid #3b3a36;
    background: -webkit-radial-gradient(white 15%, #000 20%, transparent 25%), #eee;
    -webkit-background-size: 50px 50px;
    -moz-background-size: 50px 50px;
    background-size: 30px 30px;
    background-repeat: repeat-y;
    background-position: 0px;
    animation: fadeInLeft 1s ease-in-out 1;  
}

.aboutinner2{
    background: #fae596;
    width: 100%;
    min-width: 250px;
    height: 30%;
    margin: 10px 0px auto;
    border-radius: 5px;
    padding: 10px 15px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.25);
    border-radius: 5px;
    border: 2px solid #3b3a36;
    background: -webkit-linear-gradient(#f8d965 35%, transparent 15%), #fae596;
    -webkit-background-size: 100px 100px;
    -moz-background-size: 100px 100px;
    background-size: 100px 100px;
    background-repeat: repeat-x;
    background-position: top left;
    animation: fadeInRight 1.5s ease-in-out 1; 
}

.aboutinner3{
    background: #FCDDDE;
    width: 100%;
    min-width: 250px;
    height: 30%;
    margin: 40px 0px auto;
    border-radius: 5px;
    padding: 10px 15px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.25);
    border-radius: 5px;
    border: 2px solid #3b3a36;
    background: -webkit-linear-gradient(#fac6c7 35%, transparent 15%), #FCDDDE;
    -webkit-background-size: 100px 100px;
    -moz-background-size: 100px 100px;
    background-size: 100px 100px;
    background-repeat: repeat-x;
    background-position: top left;
    animation: fadeInRight 2s ease-in-out 1; 
}

.pin {
  background-color: #3b3a36;
  display: block;
  height: 2em;
  top: -10px;
  left: 95%;
  margin: -1em -.05em;
  position: relative;
  width: 2px;
  transform: rotate(57.5deg);
}
.pin:after {
  background-color: #f6979a;
  border-radius: 50%;
  content: '';
  height:15px;
  width: 15px;
  position: absolute;
  top: -15px;
  left:-7px;
  border: 2px solid #3b3a36;
}
.pin:before {
  background-color: #ddd;
  box-shadow: 0 0 .25em #ddd;
  content: '';
  height: 1.5em;
  left: 0;
  position: absolute;
  top: .5em;
  transform: rotate(57.5deg);
  transform-origin: 50% 100%;
  width: .1em;
}

.cloud{
  position: absolute;
  width:100%;
  text-align: left;
  animation: cloudy 35s linear 2;
  animation-direction: alternate;
  top:3%;
  left:-300px;
}

.cloud:nth-child(2){
  top:15%;
  animation: cloudy 45s linear 2;
}


.cloud:nth-child(3){
  top:22%;
  animation: cloudy 30s linear 2;
  animation-direction: reverse;
}

.fa.fa-cloud{
  color: #eee;
  font-size: 12em;
}
.fa.fa-cloud:hover{
transform:none;
color:#eee;
}


/********************************************************/
/*                    fonts                              */
/********************************************************/

p{
  line-height: 26px;
  word-spacing: 2px;
  letter-spacing: 2px;
}

a{
  text-transform: uppercase;
  font-weight: 700;
  color: #3b3a36;
  text-decoration: none;
  /*letter-spacing: 3px;*/
}

a:hover{
  text-decoration: underline;
}

h1{
	  color: #3b3a36;
  font-family: 'Vibur', serif;
  font-size: 6.5em;
  font-weight: 400;
  line-height: 64px;
  margin: 0 0 0;
  text-align: center;
      -webkit-margin-before: 0.2em;
    -webkit-margin-after: 0.2em;
      position: relative;
  top: 35%;
  transition: all 1s ease-in;
  text-transform: uppercase;
   text-shadow: 5px 5px #fac6c7;
}

h2{
    font-family: 'Vibur', serif;
  font-weight: 400;
  font-size: 3.5em; 
  text-align: center;
  color: #3b3a36;
   text-transform: uppercase;
}

h3{
	font-family: 'Vibur', serif;
	font-weight: 400;
	font-size: 2em;	
	text-align: center;
	color: #3b3a36;
  text-transform: uppercase;
}


.aboutinner h3, .aboutinner2 h3, .aboutinner3 h3{
        -webkit-margin-before: 0.3em;
    -webkit-margin-after: 0.3em;
}

h2 span, h4 span {
  position: relative; 
  display:inline-block;
}

h2 span:before,
h2 span:after {
  content: "";
  position: absolute;
  height: 0.4em;
  border-bottom: 1px solid #333;
  border-top: 1px solid #333;
  top: 30%;
  width: 100%;
}

h2 span:before, h4 span:before {
  right: 100%;
  margin-right: 10px;
}
h2 span:after, h4 span:after {
  left: 100%;
  margin-left: 10px;
}

 h4 span:before,
h4 span:after{
  content: "";
  position: absolute;
  height: 0.6em;
  border-bottom: 1px solid #333;
  border-top: 1px solid #333;
  top: 25%;
  width: 25%;
}


h4{
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  font-size: 2em;
  letter-spacing: 3px;
  -webkit-margin-before: 0.7em;
  -webkit-margin-after: 0.7em;
}

.titlepage > h4{
  position: relative;
  top:33%;
  animation: fadeIn 3s ease-in 1;
  -webkit-animation: fadeIn 3s ease-in 1;
  -moz-animation: fadeIn 3s ease-in 1;
      -webkit-margin-before: 1.33em;
    -webkit-margin-after: 1.33em;
}

.titlepage h4 span:before{
  animation: fadeInLeft 2s ease-in 1;
  -webkit-animation: fadeInLeft 2s ease-in 1;
  -moz-animation: fadeInLeft 2s ease-in 1;
}

.titlepage h4 span:after{
  animation: fadeInRight 2s ease-in 1;
  -webkit-animation: fadeInRight 2s ease-in 1;
  -moz-animation: fadeInRight 2s ease-in 1;
}

.exit{
  display:inline;
  float:right;
}

.exit > .fa:hover{
  color: #f6979a;
}

/********************************************************/
/*                    linkbar                           */
/********************************************************/

.fa{
	color: #3b3a36;
	padding: 5px;
}

.fa:hover{
  color: #fff;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  transition: all 200ms linear;
}

.buttonss{
	text-align: right;
  padding-top: 5px;
  background-color: transparent;
	  position: relative;
    top:0px;
    right:0px;
    padding:5px 0 0 0;
	  width: 100%;
	  min-width: 350px;
	  margin: 0 auto;
     animation: fadeIn 0.5s ease-in-out 1;
     -webkit-animation: fadeIn 0.5s ease-in-out 1; 
     -moz-animation: fadeIn 0.5s ease-in-out 1;  
       transition: all 1s ease-in;
     z-index: 999;

}

.buttonsgroup{
  padding-right:5%;
}

.buttonsbottom{
  width: 100%;
  padding-top: 5px;
}

.scrolled{
    border-bottom: 2px solid #3b3a36;
    animation: bigg 1s ease-in-out 1;
    -webkit-animation: bigg 1s ease-in-out 1;
    -moz-animation: bigg 1s ease-in-out 1;
    box-shadow:2px 2px rgba(0,0,0,0.1);
}

.logo{
  position: relative;
  float: left;
  left:0px;
  padding-left: 5%;
  top:5px;
  max-height:35px;
  margin: 0px 0px;
}




/********************************************************/
/*                   portfolio                          */
/********************************************************/

.carousel{
  overflow: hidden;
  opacity: 0;
  padding-bottom: 5px;
}

.slick-slide{
    outline: none;
}

.slick-prev:before, .slick-next:before{
  color: #3b3a36;
  opacity: 1;
  animation: fadeIn 2.5s ease-in 1;
}

.slick-prev {
  left: 10%;
  display: none;
  }

.slick-next {
  right: 10%;
  display:none;
  }


.slick-prev:hover, .slick-next:hover{
  opacity: 0.75;
}

.circle2{
    height: 250px;
  border-radius: 50%;
  border: 2px solid #3b3a36;
  width: 250px;
  background-size:cover;
  background-color: #fac6c7;
  background-position: center center;
  margin: 0 auto;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
    text-align: center; 
}

.one{
   background-image:url("../img/asterisms.png");  /*5th*/
   animation-duration: 2s;  
}

.two{
   background-image:url("../img/cssginger.png");  /*4th*/
   animation-duration: 1.75s;  
}

.three{
   background-image:url("../img/emoji.png"); /* 1st*/
   animation-duration: 1s;  
}

.four{
   background-image:url("../img/csspokemon.jpg");  /*2nd*/
   animation-duration: 1.25s;  
}

.five{
   background-image:url("../img/sassswatch2.png");  /*3rd*/
   animation-duration: 1.5s;  
}

.ribbon{
    width: 0px;
    height: 75px;
    position: absolute;
    top: 28px;
    left: 80%;
    margin-right: 40px;
    border: 15px solid #f6979a;
    border-bottom-color: transparent;
    border-radius: 5px;
    box-shadow: -5px -2px 0px #c4787b, 5px -2px 0px #c4787b;
    animation: hover 3.5s ease-in-out infinite ;
}
.ribbon:before{
    content: "";
    width:60px;
    height:60px;
    position:absolute;
    background: #fae596;
    border:2px solid #d5aa09;
    margin-left:-30px;
    margin-top:-40px;
    z-index:1;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    border-radius:100%;
}
.ribbon:after{
    content: "";
    width:50px;
    height:50px;
    position:absolute;
    border:2px dotted #d5aa09;
    margin-left:-25px;
    margin-top:-35px;
    z-index:1;
    -moz-border-radius:100%;
    -webkit-border-radius:100%;
    border-radius:100%;
}

.symbol{
    position: absolute;
    width: auto;
    height: auto;
    z-index: 99;
    top: -70%;
    /* padding: 40% 40%; */
    left: 100%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.symbol .fa{
  color: #d5aa09;
}

.tag{
  background: #bbb;
  border-radius: 5px;
  color: #eee;
  font-size: 0.7em;
  padding: 3px;
  text-transform: uppercase;
}


/********************************************************/
/*                   envelope                           */
/********************************************************/

.contactdiv{
  height: 60%;
  position: relative;
  display: none;
}

.envelope {
  position: relative;
  top: 35%;
  margin: 50px auto 0;
  width: 245px;
  height: 165px;
  background: #f6979a;
  border-radius: 7px;
  border: 2px solid #3b3a36;
  display: none;
}

.fa.fa-certificate.fa-5x {
  -webkit-animation:fadeInUp 5s ease-in 1,  spin 20s infinite linear;
  animation:fadeInUp 5s ease-in 1, spin 20s infinite linear;
  color: #fae596;
  font-size: 25em;
}

.envelopeback{
  text-align: center;
  width: 100%;
  left: 0%;
  height:100%;
  margin: 0 auto;
  position: absolute;
  top: 35px;
  display: none;

}

.envelope:before,
.envelope:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 0 solid transparent;
      border-width: 80px 120px;
}
.envelope:before {
  border-bottom-color: #FCDDDE;
  top: 0%;
  left: 0px;
  animation: openenvelope 2s ease-in 1;
  -webkit-animation: openenvelope 2s ease-in 1;
  animation-fill-mode: forwards;
  transform-origin: bottom;
}


.envelope:after {
  border-right-color: #f8aeb1;
  border-left-color: #fac6c7;
  border-bottom-color: #fac6c7;
  top: 0;
  border-radius: 0 0 5px 5px;
  transform: rotate(360deg);
  box-shadow: 0 1px 1px rgba(0,0,0,0.25);
}

.paper {
  background: #fff;
  width: 230px;
  height: 165px;
  margin: 0 auto;
  border-radius: 5px;
  position: absolute;
  left: 6px;
  top: -45px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.25);
    border-radius: 5px;
  border: 2px solid #3b3a36;
}

.paperbig{
  position:relative;
  top: 20px;
  background: #fff;
  width: 30%;
  height: 100%;
  opacity: 0;
  text-align: center;
  margin: 0 auto;
  border-radius: 5px;
  padding: 10px 15px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.25);
  border-radius: 5px;
  border: 2px solid #3b3a36;
}


/********************************************************/
/*                   portrait                           */
/********************************************************/

.circle {
  height: 250px;
  border-radius: 50%;
  border: 2px solid #3b3a36;
  width: 250px;
  background: #fac6c7;
  margin: 0 auto;
  position: relative;
  top: 29%;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  animation: fadeIn 2s ease-in 1, hover 5s ease-in-out infinite; 
   animation-direction: alternate;
}

.circleinner{
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin: 0 auto;
  overflow: hidden;
  animation: fadeInUp 1s ease-in 1;
}

.hair {
  height: 160px;
  width: 120px;
  border-radius: 100% 100% 70% 50%;
  border: 2px solid #f09e51;
  background: #f4b880;
  margin: 0 auto;
  position: relative;
  top: 12px;
}

.face {
  height: 82px;
  width: 80px;
  border-radius: 50% 50% 100% 100%;
  border: 2px solid #f8d2ae;
  background: #fcecdd;
  margin: 0 auto;
  position: relative;
  top: -155px;
}
/*right hair strand*/
.face:after {
  content: "";
  height: 45px;
  width: 20px;
  border-radius:50% 0 0 50%;
  border-left: 3px solid #f09e51;
  background: #f4b880;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  margin: 0 auto;
  position: absolute;
  top: -15px;
  left: 60px;
}

.hair:after {
  content: "";
  height: 60px;
  width: 15px;
  border-radius: 0 50% 50% 0;
  border-right: 3px solid #f09e51;
  background: #f4b880;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  margin: 0 auto;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 99;
}

.hair:before {
  content: "";
  height: 50px;
  width: 10px;
  border-radius: 0 50% 50% 0;
  border-right: 3px solid #f09e51;
  background: #f4b880;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  margin: 0 auto;
  position: absolute;
  top: 25px;
  left: 35px;
  z-index: 99;
}

.neck {
  height: 50px;
  width: 30px;
  border-radius: 0 0 50% 50%;
  border: 2px solid #f8d2ae;
  background: #fcecdd;
  margin: 0 auto;
  position: relative;
  top: -35px;
}
/*left collar*/
.neck:before{
    content:'';
  width: 30px;
  height: 40px;
  border-radius: 50%;
  box-shadow: -10px 10px 0 0 #fff; 
  position: absolute;
  top: 8px;
  left: -1px;
}

.dress {
  height: 100px;
  width: 135px;
  border-radius: 100% 100% 50% 50%;
  border: 2px solid #3b3a36;
  background-color: #56544e;
  background-image: radial-gradient(white 5%, transparent 6%), radial-gradient(white 5%, transparent 6%);
  background-size: 30px 15px;
  background-position: 0 0, 15px 15px;
  margin: 0 auto;
  position: absolute;
  top: 150px;
  left: 55px;
}
/*right collar*/
.dress:before{
  content:'';
  width: 30px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 11px 11px 0 0 #fff; 
  position: absolute;
  top: -18px;
  left: 52px;
}

.dress:after {
  content: '';
  height: 100px;
  width: 100px;
  border-radius: 40% 40% 0 0;
  border-left: 3px solid #3b3a36;
  border-right: 3px solid #3b3a36;
  border-top: 3px solid transparent;
  margin: 0 auto;
  background: transparent;
  position: absolute;
  top: 25px;
  left: 16px;
  overflow: hidden;
}

.mouth {
  height: 10px;
  width: 20px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-bottom: 2px solid #3b3a36;
  margin: 0 auto;
  background: transparent;
  position: absolute;
  top: 110px;
  left: 115px;
  animation: smile 10s ease-in-out infinite;
}

.nose {
  height: 3px;
  width: 10px;
  border-radius: 50% 50% 50% 0;
  margin: 0 auto;
  background: #f8d2ae;
  position: absolute;
  top: 106px;
  left: 120px;
}

.eye {
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: #3b3a36;
  border-radius: 50%;
  top: 87px;
  left: 100px;
  animation: blink 2s ease-in-out infinite;
}

.eye:after{
  content:'';
   height: 10px;
  width: 20px;
  border-radius: 50%;
  transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  border: 2px solid transparent;
  border-top: 2px solid #3b3a36;
  margin: 0 auto;
  background: transparent;
  position: absolute;
  top: 0px;
  left: -6px;
}

.eye2 {
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: #3b3a36;
  border-radius: 50%;
  top: 87px;
  left: 140px;
  animation: blink 2s ease-in-out infinite;
}

.eye2:after{
  content:'';
   height: 10px;
  width: 20px;
  border-radius: 50%;
  transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  border: 2px solid transparent;
  border-top: 2px solid #3b3a36;
  margin: 0 auto;
  background: transparent;
  position: absolute;
  top: 0px;
  left: -5px;
}

.cheek {
  position: absolute;
  top: 95px;
  left: 90px;
  background: radial-gradient(#fac6c7 5%, #fcecdd 50%);
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.cheek:after {
  position: absolute;
  content:'';
  top: 0px;
  left: 45px;
  background: radial-gradient(#fac6c7 5%, #fcecdd 50%);
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

@keyframes blink {
  0% {
    height: 10px;
  }
  97% {
    height: 10px;
  }
  100% {
    height: 0px;
  }
}
@-webkit-keyframes blink {
  0% {
    height: 10px;
  }
  97% {
    height: 10px;
  }
  100% {
    height: 0px;
  }
}

@keyframes smile {
  0% {
    border-radius:50%;
  }
  50%{
    border-radius:60%;
  }
  90% {
    border-radius: 20%;
  }
  100% {
    border-radius: 50%;
  }
}
@-webkit-keyframes smile {
  0% {
    border-radius:50%;
  }
  50%{
    border-radius:60%;
  }
  90% {
    border-radius: 20%;
  }
  100% {
    border-radius: 50%;
  }
}

@keyframes hover {
  0% {
    transform: translateY(0px);
  }
  35% {
    transform: translateY(4px);
  }
  85% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0px);
  }
}
@-webkit-keyframes hover {
  0% {
    transform: translateY(0px);
  }
  35% {
    transform: translateY(4px);
  }
  85% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0px);
  }
}


/********************************************************/
/*                   animations                         */
/********************************************************/


.fadeInUp {
 animation: fadeInUp 1.2s ease-in 1; 
 animation-direction: forwards;
 display:block; 
 -moz-animation: fadeInUp 1.2s ease-in 1; 
-webkit-animation: fadeInUp 1.2s ease-in 1; 
transition: all 1s ease-in;
}

.fadeIn {
 animation: fadeIn 1s ease-in-out 1;
 -webkit-animation: fadeIn 1s ease-in-out 1;  
 -moz-animation: fadeIn 1s ease-in-out 1;    
}

.carouselload{
    animation-name: bigg;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    -moz- animation-name: bigg;
    -moz- animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in;
    -webkit-animation-name: bigg;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
}

.paperup{
    animation: paperup 2.3s ease-in 1;
  animation-fill-mode: forwards;
  transform-origin: top;
}



.wiggle{
  animation: wiggle .75s linear 1, hover 1.5s ease-in-out infinite;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

.fadeDown{
  animation: fadeDown 1.5s ease-in-out 1;
  animation-fill-mode: forwards;
  transform-origin: bottom;
}

.fadeUp{
  animation: fadeUp 1s ease-in-out 1;
  animation-fill-mode: forwards;
  transform-origin: bottom;
}


@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}


@keyframes fadeIn{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@keyframes bigg {
from {
    opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
  }
to {
    opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  }
}
-webkit-@keyframes bigg {
from {
    opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
  }
to {
    opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  }
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    width: 100%;
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    width: 100%;
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    width: 100%;
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    width: 100%;
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes openenvelope {
  from {
    border-bottom-color: #FCDDDE;
    z-index:99;
    top: -100%;
    transform: rotateX(180deg);
  }
  to {
    border-bottom-color: #f6979a;
    z-index:0;
    top: -100%; 
    transform: rotateX(360deg);
    opacity: 1;
  }
}

@-webkit-keyframes openenvelope {
  from {
    border-bottom-color: #FCDDDE;
    z-index:99;
    top: -100%;
    transform: rotateX(180deg);
  }
  to {
    border-bottom-color: #f6979a;
    z-index:0;
    top: -100%; 
    transform: rotateX(360deg);
    opacity: 1;
  }
}

@keyframes paperup {
  0% {
    height: 0px;
    -webkit-transform: translateY(130px);
    -ms-transform: translateY(130px);
    transform: translateY(130px);
  }
  50%{
    height: 0px;
    -webkit-transform: translateY(130px);
    -ms-transform: translateY(130px);
    transform: translateY(130px); 
  }
  100% {
    height: 165px;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes paperup {
  0% {
    height: 0px;
    -webkit-transform: translateY(150px);
    -ms-transform: translateY(150px);
    transform: translateY(150px);
  }
  50%{
    height: 0px;
    -webkit-transform: translateY(150px);
    -ms-transform: translateY(150px);
    transform: translateY(150px); 
  }
  100% {
    height: 165px;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes wiggle {
  from {
    border-top: 3px solid #3b3a36;
  }
  to {
    border-top: 3px solid #f6979a;
  }
}

@-webkit-keyframes wiggle {
  from {
    border-top: 3px solid #3b3a36;
  }
  to {
    border-top: 3px solid #f6979a;
  }
}


@keyframes fadeDown {
  0% {
    opacity: 0;
    height: 0px;
    -webkit-transform: translateY(-1500px);
    -ms-transform: translateY(-1500px);
    transform: translateY(-1500px);
  }
    1% {
    opacity: 1;
    height: auto;
  }
  100% {
    opacity: 1;
    height: auto;
    -webkit-transform: translateY(14px);
    -ms-transform: translateY(14px);
    transform: translateY(14px);
  }
}

@-webkit-keyframes fadeDown {
  0% {
    opacity: 0;
    height: 0px;
    -webkit-transform: translateY(-1500px);
    -ms-transform: translateY(-1500px);
    transform: translateY(-1500px);
  }
    1% {
    opacity: 1;
    height: auto;
  }
  100% {
    opacity: 1;
    height: auto;
    -webkit-transform: translateY(14px);
    -ms-transform: translateY(14px);
    transform: translateY(14px);
  }
}

@keyframes fadeUp {
  0% {
    opacity: 1;
    height: auto;
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }
    99% {
       opacity: 1;
       height: auto;
  }
    100% {
    opacity: 0;
    height: 0px;
    -webkit-transform: translateY(-1500px);
    -ms-transform: translateY(-1500px);
    transform: translateY(-1500px);
  }
}

@-webkit-keyframes fadeUp {
  0% {
    opacity: 1;
    height: auto;
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }
    99% {
       opacity: 1;
       height: auto;
  }
    100% {
    opacity: 0;
    height: 0px;
    -webkit-transform: translateY(-1500px);
    -ms-transform: translateY(-1500px);
    transform: translateY(-1500px);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes cloudy {
  0% {
    left: 0%;
    opacity: 0;
  }
  10% {
    left: 10%;
    opacity: 1;
  }
  90% {
    left: 90%;
    opacity: 1;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}
@-webkit-keyframes cloudy {
  0% {
    left: 0%;
    opacity: 0;
  }
  10% {
    left: 10%;
    opacity: 1;
  }
  90% {
    left: 90%;
    opacity: 1;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}

/********************************************************/
/*                   responsive                         */
/********************************************************/
@media screen and (max-width: 1000px) {
.aboutinner2, .aboutinner3{
  width:250px;
}

.aboutinner2{
  float:right;
}

.slick-next {
    right: 25px;
}

.slick-prev {
    left: 25px;
}

}


@media screen and (max-width: 800px) {

.wrapper{
  top: 820px;
}

.container{
  padding: 100px 10px;
}

.cloud{
  display:none;
}

.buttonsgroup{
  animation:none;
}


.buttonsgroup, .buttonss{
width: 100%;
}

.titlepage h4{
  font-size: 1em;
  top: 8.5%;
}

h1{
  font-size: 3.5em;
  top:9%;
}


.circle{
  top:7.5%;
}

.carousel{
animation:none;
}


.circle2{
  width: 200px;
  height: 200px;
}


h2 span:before, h2 span:after{
    width:  40%;
    animation:none;
}

.paperbig{
  width: 50%; 
}

}


@media screen and (max-width: 560px) {
.col-xs-6 {
    width: 100%;
}

.aboutinner3{
  margin-top: 10px;
}

.fa.fa-certificate.fa-5x {
display: none;
}

.aboutinner, .aboutinner2, .aboutinner3 {
height: auto;
animation: none;
}

.container{
  padding: 50px 10px;
}


.slick-next {
    right: 25px;
    top: 63%;
}

.slick-prev {
    left: 25px;
    top: 63%;
}


h2 span:before, h2 span:after{
    display:none;
}

.titlepage h4 span:before, .titlepage h4 span:after{
    width: 0;
    animation:none;
}

.paperbig{
  width: 90%; 
}

}









/********************************************************/
/*                      rss feed                        */
/********************************************************/



.rss-widget {
  width: 100%;
  margin: 0 auto;
  overflow: auto;
}

ul {
  margin: 0;
  padding: 0;
  text-align: left;
}

li {
  list-style: none;
  margin-bottom: .125em;
  display: block;
  list-style: none;
  text-align: left;
}

.blog-item-content {
  display: inline;
}

.blog-item-content p {
  display: none;
}

a {
  color: #3b3a36;
  text-decoration: none;
}

.blog-item-title {
  display: inline;
}

